---
title: 'Showcase'
description: 'Find here some of the best sites utilizing MM.css framework'
layout: 'page'
---

block styles
  style
    include ./_includes/_browser-mockups.css

block page-content
  .container-content
    .grid
      each site in data.showcase
        .one-half.section
          .media
            a(href=site.url, target='_blank', title=site.name)
              .browser-mockup.with-tab.aligncenter
                img(src=site.image, width='500', height='300', alt=site.name)
            .media-body
              h2.h4.text-center.entry-title
                a(href=site.url, target='_blank')= site.name
    .section
      p.text-center Want to submit your site to showcase?<br><a href="/contact/">Get in touch</a>