include ./../_includes/_mixins.pug
doctype html
block vars
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - MMCSS
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:type', content='website')
    meta(property='og:url', content=page.url)
    meta(property='og:image', content=site.url + 'img/mmcss-featured.png')
    link(rel='canonical', href=page.url)
    link(href='/styles/mm.css', rel='stylesheet')
    style
      include ./../_includes/_icons.css
    block styles
    link(rel='icon', href=site.url + 'img/mmcss-favicon-32x32.png', sizes='32x32')
    link(rel='icon', href=site.url + 'img/mmcss-favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href=site.url + 'img/mmcss-favicon-180x180.png')
    meta(name='msapplication-TileImage', content=site.url + 'img/mmcss-favicon-270x270.png')
  body#top
    include ./../_includes/_icons.svg
    header.header
      .container
        .header-left
          a(href='/').site-branding
            h1.title MMCSS        
        .menu-toggle
          input(type="checkbox")#menu-toggle
          label(for="menu-toggle").header-right
            span.css-icon-hamburger
              span Toggle
            span Menu
          .menu-toggle-content
            +menu(data.menu.main, 'menu')
            .header-right
              +social(data.menu.social)

    block content
    footer.footer
      .container-content.section-large.text-center
        p Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a> for the modern web by <a href="http://kunruchcreations.com/">KunRuch Creations</a>.
          br
          | Licensed under the <a href="#{site.github}blob/master/LICENSE.md" target="blank">MIT License</a>.
        div
          +social(data.menu.social)
  block scripts
  include ./../_includes/_analytics.pug
