extends ./_layout-default.pug

block styles
  block docs-styles
  style.
    #docs-toggle + label{
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 999;
      background-color: #fff;
    }

    @media (min-width: 980px) {
      #docs-grid > .one-half:first-child {
        width: 20%;
        border-right: 1px solid #f2f2f2;
        margin-top: 32px;
      }

      #docs-grid > .one-half:last-child {
        width: 75%;
      }
    }

block content
  .container-content
    #docs-grid.grid
      .one-half
        .menu-toggle
          input(type="checkbox")#docs-toggle
          label(for="docs-toggle").alignright
            span.css-icon-hamburger
              span Toggle
            span Docs
          .menu-toggle-content
            +menu(data.menu.docs)
      .one-half
        .container-readable
          article
            .sub-header.section-medium.text-center
              h1.section-title #{page.title}
              p.text-muted.text-small #{page.description}
            div!= page.content
          .grid.section-medium
            .one-half
              +prevmenu(data.menu.docs, 'alignleft')
            .one-half
              +nextmenu(data.menu.docs, 'alignright')
          hr
          p.text-small.text-muted.text-center Want to contribute to the documentation? <a href="#{site.github}blob/master/web/html/#{page.source}" target="_blank">Edit this page</a> on Github.
