---
title: 'Buttons'
description: 'MM.css includes multiple button styles of different shapes, sizes and colors.'
layout: 'docs'
---

block docs-content
  div
    div
      h2 Default Buttons
      p Links and buttons can be styled using the <code>button</code>, <code>button-primary</code>, <code>button-ghost</code>, <code>button-text</code> etc. classes as shown below
      .code-example
        .code-output
          // Default Button
          a.button.mr-small(href='#') Default Button
          // Primary Button
          a.button.button-primary.mr-small(href='#') Primary Button
          // Light Button
          a.button.button-light.mr-small(href='#') Light Button
          // Ghost Button
          button.button-ghost.mr-small Ghost Button
          // Ghost Light Button
          button.button-ghost-light.mr-small Ghost Light
          // Text Button
          input.button.button-text.mr-small(type='submit', value='Text Button')
        pre
          code.
            #{'<!-- Default Buttons -->'}
            #{'<a class="button" href="#">Default Button</a>'}
            #{'<a class="button button-primary" href="#">Primary Button</a>'}
            #{'<a class="button button-light" href="#">Light Button</a>'}
            #{''}
            #{'<!-- When assigning to a <button> element, "button" class is not needed -->'}
            #{'<button class="button-ghost">Ghost Button</button>'}
            #{'<button class="button-ghost-light">Ghost Light</button>'}
            #{'<input class="button button-text" value="Text Button"  type="submit"/>'}
    div
      h2 Rounded Buttons
      p Add <code>border-rounded</code> class to make any button a rounded button.
      .code-example
        .code-output
          // Default Button Rounded
          a.button.border-rounded.mr-small(href='#') Rounded Button
          // Primary Button Rounded
          button.border-rounded.button-primary.mr-small Rounded Primary
          // Light Button Rounded
          button.border-rounded.button-light.mr-small Rounded Light
          // Ghost Button Rounded
          button.button-ghost.border-rounded.mr-small Rounded Ghost
          // Ghost Light Rounded
          button.button-ghost-light.border-rounded.mr-small Rounded Ghost Light
        pre
          code.
            #{'<!-- Default Button Rounded -->'}
            #{'<a class="button border-rounded" href="#">Rounded Button</a>'}
            #{''}
            #{'<!-- Primary Button Rounded -->'}
            #{'<button class="button-primary border-rounded">'}
            #{' Primary Button Rounded'}
            #{'</button>'}
            #{''}
            #{'<!-- Light Button Rounded -->'}
            #{'<button class="button-light border-rounded">'}
            #{' Light Button Rounded'}
            #{'</button>'}
            #{''}
            #{'<!-- Ghost Button Rounded -->'}
            #{'<button class="button-ghost border-rounded">'}
            #{' Rounded Ghost Button'}
            #{'</button>'}
            #{''}
            #{'<!-- Ghost Light Button Rounded -->'}
            #{'<button class="button-ghost-light border-rounded">'}
            #{' Rounded Ghost Light'}
            #{'</button>'}
    div
      h2 Disabled Buttons
      p Buttons can be disabled by adding the <code>disabled</code> attribute.
      .code-example
        .code-output
          // Default Button
          a.button.mr-small(href='#', disabled) Default Button
          // Primary Button
          a.button.button-primary.mr-small(href='#', disabled) Primary Button
          // Light Button
          a.button.button-light.mr-small(href='#', disabled) Light Button
          // Ghost Button
          button.button-ghost.mr-small(disabled) Ghost Button
          // Text Button
          input.button.button-text.mr-small(type='submit', value='Text Button', disabled)
        pre
          code.
            #{'<!-- Disabled Buttons -->'}
            #{'<a class="button" href="#" disabled>Default Button</a>'}
            #{'<a class="button button-primary" href="#" disabled>Primary Button</a>'}
            #{'<a class="button button-light" href="#" disabled>Light Button</a>'}
            #{'<button class="button-ghost" disabled>Ghost Button</button>'}
            #{'<input class="button button-text" value="Text Button"  type="submit" disabled/>'}
    div
      h2 Button Sizes
      p To change the button size, simply add the text size modifiers <code>text-small</code>, <code>text-medium</code> and <code>text-large</code> as shown below.
      .code-example
        .code-output
          a.button.button-primary.text-small.mr-small(href="#") Small Button
          a.button.button-primary.mr-small(href="#") Normal Button
          a.button.button-primary.text-large.mr-small(href="#") Large Button
        pre
          code.
            #{'<a class="button button-primary text-small" href="#">Small Button</a>'}
            #{'<a class="button button-primary" href="#">Normal Button</a>'}
            #{'<a class="button button-primary text-large" href="#">Large Button</a>'}
    div
      h2 Block Button
      p Use <code>d-block</code> display utility class to create a block button style.
      .code-example
        .code-output
          a.button.button-primary.d-block(href="#") Block Button
          .grid.gutters
            .col
              a.button.d-block(href="#") Block Button
            .col
              a.button.d-block(href="#") Block Button
      pre
          code.
            #{'<a class="button button-primary d-block" href="#">Block Button</a>'}
            #{'<div class="grid gutters">'}
            #{' <div class="col"><a class="button d-block" href="#">Block Button</a></div>'}
            #{' <div class="col"><a class="button d-block" href="#">Block Button</a></div>'}
            #{'</div>'}
    div
      h2 Buttons with Icons
      .code-example
        .code-output
          a.button.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            span Twitter
          // Button
          a.button.button-primary.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            span Twitter
          // Button
          a.button.button-light.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            span Twitter
          // Button
          a.button.button-ghost.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            span Twitter
          // Button
          a.button.button-text.mr-small(href="#")
            | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
            span GitHub
          br
          a.button.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          // Button
          a.button.button-primary.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          // Button
          a.button.button-light.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          // Button
          a.button.button-ghost.mr-small(href="#")
            | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          // Button
          a.button.button-text.mr-small(href="#")
            | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
