---
title: 'Buttons'
description: 'MM.css includes multiple button styles of different shapes, sizes and colors.'
layout: 'docs'
---

block docs-content
  div
    h2 Button Styles
    p Links and buttons can be styled using the <code>button</code>, <code>button-primary</code>, <code>button-green</code>, <code>button-yellow</code> etc. classes as shown below. The default button style is same as dark button style and primary button style is same as blue button.
    .code-example
      .code-output
        div
          a.button.mr-small(href='#') Default Button
          a.button.button-primary.mr-small(href='#') Primary Button
          a.button.button-light.mr-small(href='#') Light Button
          a.button.button-gray-light.mr-small(href='#') Gray Light
          a.button.button-gray.mr-small(href='#') Gray button
          a.button.button-gray-dark.mr-small(href='#') Gray Dark
          a.button.button-dark.mr-small(href='#') Dark Button
        div
          a.button.button-blue.mr-small(href='#') Blue Button
          a.button.button-green.mr-small(href='#') Green Button
          a.button.button-yellow.mr-small(href='#') Yellow Button
          a.button.button-red.mr-small(href='#') Red Button
          a.button.button-pink.mr-small(href='#') Pink Button
          a.button.button-purple.mr-small(href='#') Purple Button
          a.button.button-teal.mr-small(href='#') Teal Button
          a.button.button-cyan.mr-small(href='#') Cyan Button
      pre
        code.
          #{'<a class="button" href="#">Default Button</a>'}
          #{'<a class="button button-primary" href="#">Primary Button</a>'}
          #{'<a class="button button-light" href="#">Light Button</a>'}
          #{'<a class="button button-gray-light" href="#">Gray Light</a>'}
          #{'<a class="button button-gray" href="#">Gray button</a>'}
          #{'<a class="button button-gray-dark" href="#">Gray Dark</a>'}
          #{'<a class="button button-dark" href="#">Dark Button</a>'}
          #{''}
          #{'<a class="button button-blue" href="#">Blue Button</a>'}
          #{'<a class="button button-green" href="#">Green Button</a>'}
          #{'<a class="button button-yellow" href="#">Yellow Button</a>'}
          #{'<a class="button button-red" href="#">Red Button</a>'}
          #{'<a class="button button-pink" href="#">Pink Button</a>'}
          #{'<a class="button button-purple" href="#">Purple Button</a>'}
          #{'<a class="button button-teal" href="#">Teal Button</a>'}
          #{'<a class="button button-cyan" href="#">Cyan Button</a>'}

    h2 Outline Buttons
    p To make any button outline button, add <code>bg-transparent</code> and an appropriate text color using <code>text-*</code> classes as shown below.
    .code-example
      .code-output
        div
          a.button.bg-transparent.text-dark.mr-small(href='#') Default Button
          a.button.button-primary.bg-transparent.text-primary.mr-small(href='#') Primary Button
          a.button.button-light.bg-transparent.text-dark.mr-small(href='#') Light Button
          a.button.button-gray-light.bg-transparent.text-dark.mr-small(href='#') Gray Light
          a.button.button-gray.bg-transparent.text-dark.mr-small(href='#') Gray button
          a.button.button-gray-dark.bg-transparent.text-dark.mr-small(href='#') Gray Dark
          a.button.button-dark.bg-transparent.text-dark.mr-small(href='#') Dark Button
        div
          a.button.button-blue.bg-transparent.text-blue.mr-small(href='#') Blue Button
          a.button.button-green.bg-transparent.text-green.mr-small(href='#') Green Button
          a.button.button-yellow.bg-transparent.text-yellow.mr-small(href='#') Yellow Button
          a.button.button-red.bg-transparent.text-red.mr-small(href='#') Red Button
          a.button.button-pink.bg-transparent.text-pink.mr-small(href='#') Pink Button
          a.button.button-purple.bg-transparent.text-purple.mr-small(href='#') Purple Button
          a.button.button-teal.bg-transparent.text-teal.mr-small(href='#') Teal Button
          a.button.button-cyan.bg-transparent.text-cyan.mr-small(href='#') Cyan Button
      pre
        code.
          #{'<a class="button bg-transparent text-dark" href="#">Default Button</a>'}
          #{'<a class="button button-primary bg-transparent text-primary" href="#">Primary Button</a>'}
          #{'<a class="button button-blue bg-transparent text-blue" href="#">Blue Button</a>'}
          #{'...'}

    h2 Rounded Buttons
    p Add <code>border-rounded</code> class to make any button a rounded button.
    .code-example
      .code-output
        div
          a.button.border-rounded.mr-small(href='#') Default Button
          a.button.button-primary.border-rounded.mr-small(href='#') Primary Button
          a.button.button-light.border-rounded.mr-small(href='#') Light Button
          a.button.button-gray-light.border-rounded.mr-small(href='#') Gray Light
          a.button.button-gray.border-rounded.mr-small(href='#') Gray button
          a.button.button-gray-dark.border-rounded.mr-small(href='#') Gray Dark
          a.button.button-dark.border-rounded.mr-small(href='#') Dark Button
        div
          a.button.button-blue.border-rounded.mr-small(href='#') Blue Button
          a.button.button-green.border-rounded.mr-small(href='#') Green Button
          a.button.button-yellow.border-rounded.mr-small(href='#') Yellow Button
          a.button.button-red.border-rounded.mr-small(href='#') Red Button
          a.button.button-pink.border-rounded.mr-small(href='#') Pink Button
          a.button.button-purple.border-rounded.mr-small(href='#') Purple Button
          a.button.button-teal.border-rounded.mr-small(href='#') Teal Button
          a.button.button-cyan.border-rounded.mr-small(href='#') Cyan Button
      pre
        code.
          #{'<a class="button border-rounded" href="#">Default Button</a>'}
          #{'<a class="button button-primary border-rounded" href="#">Primary Button</a>'}
          #{'<a class="button button-blue border-rounded" href="#">Blue Button</a>'}
          #{'...'}

    p Similarly, outline buttons can be made rounded too by adding the <code>border-rounded</code> class.
    .code-example
      .code-output
        div
          a.button.border-rounded.bg-transparent.text-dark.mr-small(href='#') Default Button
          a.button.button-primary.border-rounded.bg-transparent.text-primary.mr-small(href='#') Primary Button
          a.button.button-light.border-rounded.bg-transparent.text-dark.mr-small(href='#') Light Button
          a.button.button-gray-light.border-rounded.bg-transparent.text-dark.mr-small(href='#') Gray Light
          a.button.button-gray.border-rounded.bg-transparent.text-dark.mr-small(href='#') Gray button
          a.button.button-gray-dark.border-rounded.bg-transparent.text-dark.mr-small(href='#') Gray Dark
          a.button.button-dark.border-rounded.bg-transparent.text-dark.mr-small(href='#') Dark Button
        div
          a.button.button-blue.border-rounded.bg-transparent.text-blue.mr-small(href='#') Blue Button
          a.button.button-green.border-rounded.bg-transparent.text-green.mr-small(href='#') Green Button
          a.button.button-yellow.border-rounded.bg-transparent.text-yellow.mr-small(href='#') Yellow Button
          a.button.button-red.border-rounded.bg-transparent.text-red.mr-small(href='#') Red Button
          a.button.button-pink.border-rounded.bg-transparent.text-pink.mr-small(href='#') Pink Button
          a.button.button-purple.border-rounded.bg-transparent.text-purple.mr-small(href='#') Purple Button
          a.button.button-teal.border-rounded.bg-transparent.text-teal.mr-small(href='#') Teal Button
          a.button.button-cyan.border-rounded.bg-transparent.text-cyan.mr-small(href='#') Cyan Button
      pre
        code.
          #{'<a class="button border-rounded bg-transparent text-dark" href="#">Default Button</a>'}
          #{'<a class="button button-primary border-rounded bg-transparent text-primary" href="#">Primary Button</a>'}
          #{'<a class="button button-blue border-rounded bg-transparent text-blue" href="#">Blue Button</a>'}
          #{'...'}


    h2 Disabled Buttons
    p Buttons can be disabled by adding the <code>disabled</code> attribute.
    .code-example
      .code-output
        div
          a.button.mr-small(href='#' disabled) Disabled Button
          a.button.button-primary.mr-small(href='#' disabled) Disabled Button
          a.button.bg-transparent.text-dark.mr-small(href='#' disabled) Disabled Button
      pre
        code.
          #{'<a class="button" href="#" disabled>Disabled Button</a>'}
          #{'<a class="button button-primary" href="#" disabled>Disabled Button</a>'}
          #{'<a class="button button-primary bg-transparent text-dark" href="#" disabled>Disabled Button</a>'}
    h2 Button Sizes
    p To change the button size, simply add the text size modifiers <code>text-small</code> and <code>text-large</code> as shown below.
    .code-example
      .code-output
        a.button.button-primary.text-small.mr-small(href="#") Small Button
        a.button.button-primary.mr-small(href="#") Normal Button
        a.button.button-primary.text-large.mr-small(href="#") Large Button
      pre
        code.
          #{'<a class="button button-primary text-small" href="#">Small Button</a>'}
          #{'<a class="button button-primary" href="#">Normal Button</a>'}
          #{'<a class="button button-primary text-large" href="#">Large Button</a>'}
    h2 Block Button
    p Use <code>d-block</code> display utility class to create a block button style.
    .code-example
      .code-output
        a.button.button-primary.d-block(href="#") Block Button
        .grid.gutters
          .col
            a.button.d-block(href="#") Block Button
          .col
            a.button.d-block(href="#") Block Button
    pre
        code.
          #{'<a class="button button-primary d-block" href="#">Block Button</a>'}
          #{'<div class="grid gutters">'}
          #{' <div class="col"><a class="button d-block" href="#">Block Button</a></div>'}
          #{' <div class="col"><a class="button d-block" href="#">Block Button</a></div>'}
          #{'</div>'}

    h2 Buttons with Icons
    .code-example
      .code-output
        a.button.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          span Twitter
        // Button
        a.button.button-primary.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          span Twitter
        // Button
        a.button.button-light.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          span Twitter
        // Button
        a.button.button-ghost.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          span Twitter
        // Button
        a.button.button-text.mr-small(href="#")
          | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
          span GitHub
        br
        a.button.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        // Button
        a.button.button-primary.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        // Button
        a.button.button-light.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        // Button
        a.button.button-ghost.mr-small(href="#")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        // Button
        a.button.button-text.mr-small(href="#")
          | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
