---
title: 'Buttons'
description: 'Button Classes in MM.css - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-content
  div.section-medium
    div
      p
        strong Default Buttons
      p Links and buttons can be styled using the <code>button</code>, <code>button-primary</code>, <code>button-ghost</code> and <code>button-text</code> classes.
      pre
        code.
          #{'<!-- Default Buttons -->'}
          #{'<a class="button" href="#">Default Button</a>'}
          #{'<a class="button button-primary" href="#">Primary Button</a>'}
          #{''}
          #{'<!-- When assigning to a <button> element, "button" class is not needed -->'}
          #{'<button class="button-ghost">Ghost Button</button>'}
          #{'<input class="button-text" value="Text Button"  type="submit"/>'}
      div
        // Default Button
        a.button(href='#') Default Button
        // Primary Button
        a.button.button-primary(href='#') Primary Button
        // Ghost Button
        button.button-ghost Ghost Button
        // Text Button
        input.button.button-text(type='submit', value='Text Button')
    hr
    div
      p
        strong Rounded Buttons
      p Add <code>button-rounded</code> class to make any button a rounded button.
      pre
        code.
          #{'<!-- Default Button Rounded -->'}
          #{'<a class="button button-rounded" href="#">Rounded Button</a>'}
          #{''}
          #{'<!-- Primary Button Rounded -->'}
          #{'<button class="button-primary button-rounded">'}
          #{' Primary Button Rounded'}
          #{'</button>'}
          #{''}
          #{'<!-- Ghost Button Rounded -->'}
          #{'<button class="button-ghost button-rounded">'}
          #{' Rounded Ghost Button'}
          #{'</button>'}
      div
        // Default Button Rounded
        a.button.button-rounded(href='#') Rounded Button
        // Primary Button Rounded
        button.button-rounded.button-primary Rounded Primary Button
        // Ghost Button Rounded
        button.button-ghost.button-rounded Rounded Ghost Button
    hr
    div
      p
        strong Buttons with Icons
      div
        a.button(href="#", target="_blank")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          span Twitter
        // Button
        a.button.button-primary(href="#", target="_blank")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          span Twitter
        // Button
        a.button.button-ghost(href="#", target="_blank")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          span Twitter
        // Button
        a.button.button-text(href="#", target="_blank")
          | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
          span GitHub
      div
        a.button(href="#", target="_blank")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        // Button
        a.button.button-primary(href="#" target="_blank")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        // Button
        a.button.button-ghost(href="#", target="_blank")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        // Button
        a.button.button-text(href="#", target="_blank")
          | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
