---
title: 'Lists'
description: 'Default styles for ordered, unordered and definition lists.'
layout: 'docs'
---

block docs-content
  p A default style is provided for ordered, unordered and definition lists. Additionally you can remove the default list style by adding <code>.bare</code> to the unordered list.
  h2 Unordered List
  .code-example
    .code-output
      ul
        li List Item 1
        li List Item 2
        li List Item 3
          ul
            li Nested List Item 1
            li Nested List Item 2
    pre
      code.
        #{'<ul>'}
        #{' <li>List Item 1</li>'}
        #{' <li>List Item 2</li>'}
        #{' <li>List Item 3</li>'}
        #{'   <ul>'}
        #{'     <li>Nested List Item 1</li>'}
        #{'     <li>Nested List Item 2</li>'}
        #{'   </ul>'}
        #{'</ul>'}
  h2 Ordered List
  .code-example
    .code-output
      ol
        li List Item 1
        li List Item 2
        li List Item 3
          ol
            li Nested List Item 1
            li Nested List Item 2
    pre
      code.
        #{'<ol>'}
        #{' <li>List Item 1</li>'}
        #{' <li>List Item 2</li>'}
        #{' <li>List Item 3</li>'}
        #{'   <ol>'}
        #{'     <li>Nested List Item 1</li>'}
        #{'     <li>Nested List Item 2</li>'}
        #{'   </ol>'}
        #{'</ol>'}
  h2 Bare List
  .code-example
    .code-output
      ul.bare
        li List Item 1
        li List Item 2
        li List Item 3
    pre
      code.
        #{'<ul class="bare">'}
        #{' <li>List Item 1</li>'}
        #{' <li>List Item 2</li>'}
        #{' <li>List Item 3</li>'}
        #{'</ul>'}
  h2 Definition Lists
  .code-example
    .code-output
      | <dl>
      |     <dt>Definition List Title</dt>
      |     <dd>Definition list description.</dd>
      |     <dt>Startup</dt>
      |     <dd>A startup is a company or temporary organization searching for a repeatable and
      |         scalable business model.</dd>
      | </dl>
    pre
      code.
        #{'<dl>'}
        #{' <dt>Definition List Title</dt>'}
        #{' <dd>Definition list description.</dd>'}
        #{' <dt>Startup</dt>'}
        #{' <dd>A startup is a company or temporary organization searching for a repeatable and scalable business model.</dd>'}
        #{'</dl>'}


