---
title: 'Typography'
description: 'Default styles for headings, paragraphs, blockquote, lists elements and other markups and formatting.'
layout: 'docs'
---


block docs-content
  div
    p The typography has default font-size defined as 1.6rem (16px) and line-height as 1.6 (24px).
    h2.h3 Headings
    p HTML headings <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> have the following default styles. A margin top of <code>1.5em</code> is assigned to each of the heading tags. You can assign a custom margin using the margin utility classes.
    .code-example
      .code-output
        h1.mt Heading 1 <span class="text-muted text-small">2.25rem (36px)</span>
        h2.mt Heading 2 <span class="text-muted text-small">1.8rem (28.8px)</span>
        h3.mt Heading 3 <span class="text-muted text-small">1.5rem (24px)</span>
        h4.mt Heading 4 <span class="text-muted text-small">1.125rem (18px)</span>
        h5.mt Heading 5 <span class="text-muted text-small">1rem (16px)</span>
        h6.mt Heading 6 <span class="text-muted text-small">0.875rem (14px)</span>
      pre
        code.
          #{'<h1>Heading 1</h1>'}
          #{'<h2>Heading 2</h2>'}
          #{'<h3>Heading 3</h3>'}
          #{'<h4>Heading 4</h4>'}
          #{'<h5>Heading 5</h5>'}
          #{'<h6>Heading 6</h6>'}
    h2.h3 Headings Class
    p Additionally <code>.h1</code> through <code>.h6</code> classes are also available for adding heading style to non-heading elements. Since this only applies the heading size, the resulting style doesnot has font-weight or top margin applied. You can use the utility classes to apply the same or use relevant markup such as <code>&lt;strong&gt;</code>.
    .code-example
      .code-output
        .h1.mt Heading 1
        p.h2 Heading 2
        p Applying <span class="h3">Heading 3</span>, <span class="h4">Heading 4</span>, <strong class="h5">Heading 5</strong> stlye inside paragraph.
      pre
        code.
          #{'<div class="h1 mt">Heading 1</div>'}
          #{'<p class="h2">Heading 2</p>'}
          #{'<p>'}
          #{' Applying '}
          #{' <span class="h3">Heading 3</span>,'}
          #{' <span class="h4">Heading 4</span>,'}
          #{' <strong class="h5">Heading 5</strong>,'}
          #{' stlye inside paragraph.'}
          #{'</p>'}