---
title: 'Typography'
description: 'Default styles for headings, paragraphs, blockquote, lists elements and other markups and formatting.'
layout: 'docs'
---


block docs-content
  div
    p The default font-size is defined as 1.6rem (16px) with line-height of 1.6 (24px). We define the following system font-stack for the body:
    pre
      code.
        #{'font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;'}
    h2 Headings
    p HTML headings <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> have the following default size. A margin top of <code>1.5em</code> is assigned to each of the heading tags. You can assign a custom margin using the margin utility classes.
    .code-example
      .code-output
        h1.mt Heading 1 <span class="text-muted text-small">2.25rem (36px)</span>
        h2.mt Heading 2 <span class="text-muted text-small">1.8rem (28.8px)</span>
        h3.mt Heading 3 <span class="text-muted text-small">1.5rem (24px)</span>
        h4.mt Heading 4 <span class="text-muted text-small">1.125rem (18px)</span>
        h5.mt Heading 5 <span class="text-muted text-small">1rem (16px)</span>
        h6.mt Heading 6 <span class="text-muted text-small">0.875rem (14px)</span>
      pre
        code.
          #{'<h1>Heading 1</h1>'}
          #{'<h2>Heading 2</h2>'}
          #{'<h3>Heading 3</h3>'}
          #{'<h4>Heading 4</h4>'}
          #{'<h5>Heading 5</h5>'}
          #{'<h6>Heading 6</h6>'}
    h3 Headings Classes
    p Additionally <code>.h1</code> through <code>.h6</code> classes are also available for adding heading style to non-heading elements. Since this only applies the heading size, the resulting style doesnot has font-weight or top margin applied. You can use the utility classes to apply the same or use relevant markup such as <code>&lt;strong&gt;</code>.
    .code-example
      .code-output
        .h1.mt Heading 1
        p.h2 Heading 2
        p Applying <span class="h3">Heading 3</span>, <span class="h4">Heading 4</span>, <strong class="h5">Heading 5</strong> stlye inside paragraph.
      pre
        code.
          #{'<div class="h1 mt">Heading 1</div>'}
          #{'<p class="h2">Heading 2</p>'}
          #{'<p>'}
          #{' Applying '}
          #{' <span class="h3">Heading 3</span>,'}
          #{' <span class="h4">Heading 4</span>,'}
          #{' <strong class="h5">Heading 5</strong>,'}
          #{' stlye inside paragraph.'}
          #{'</p>'}
    h2 Blockquotes
    p Single line blockquote:
    .code-example
      .code-output
        blockquote
          p Stay hungry. Stay foolish.
      pre
        code.
          #{'<blockquote>'}
          #{' <p>Stay hungry. Stay foolish.</p>'}
          #{'</blockquote>'}
    p Multi line blockquote with a cite reference:
    .code-example
      .code-output
        blockquote
          p People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at
            | all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m
            | actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to
            | 1,000 things.
          cite Steve Jobs – Apple Worldwide Developers’ Conference, 1997
      pre
        code.
          #{'<blockquote>'}
          #{' <p>People think focus means saying yes to ...</p>'}
          #{' <cite>Steve Jobs – Apple Worldwide Developers’ Conference, 1997</cite>'}
          #{'</blockquote>'}
    h2 Lists
    p A default style is provided for ordered, unordered and definition lists. Additionally you can remove the default list style by adding <code>.bare</code> to the unordered list.
    h3 Unordered List
    .code-example
      .code-output
        ul
          li List Item 1
          li List Item 2
          li List Item 3
            ul
              li Nested List Item 1
              li Nested List Item 2
      pre
        code.
          #{'<ul>'}
          #{' <li>List Item 1</li>'}
          #{' <li>List Item 2</li>'}
          #{' <li>List Item 3</li>'}
          #{'   <ul>'}
          #{'     <li>Nested List Item 1</li>'}
          #{'     <li>Nested List Item 2</li>'}
          #{'   </ul>'}
          #{'</ul>'}
    h3 Ordered List
    .code-example
      .code-output
        ol
          li List Item 1
          li List Item 2
          li List Item 3
            ol
              li Nested List Item 1
              li Nested List Item 2
      pre
        code.
          #{'<ol>'}
          #{' <li>List Item 1</li>'}
          #{' <li>List Item 2</li>'}
          #{' <li>List Item 3</li>'}
          #{'   <ol>'}
          #{'     <li>Nested List Item 1</li>'}
          #{'     <li>Nested List Item 2</li>'}
          #{'   </ol>'}
          #{'</ol>'}
    h3 Bare List
    .code-example
      .code-output
        ul.bare
          li List Item 1
          li List Item 2
          li List Item 3
      pre
        code.
          #{'<ul class="bare">'}
          #{' <li>List Item 1</li>'}
          #{' <li>List Item 2</li>'}
          #{' <li>List Item 3</li>'}
          #{'</ul>'}
    h3 Definition Lists
    .code-example
      .code-output
        | <dl>
        |     <dt>Definition List Title</dt>
        |     <dd>Definition list description.</dd>
        |     <dt>Startup</dt>
        |     <dd>A startup is a company or temporary organization searching for a repeatable and
        |         scalable business model.</dd>
        | </dl>
      pre
        code.
          #{'<dl>'}
          #{' <dt>Definition List Title</dt>'}
          #{' <dd>Definition list description.</dd>'}
          #{' <dt>Startup</dt>'}
          #{' <dd>A startup is a company or temporary organization searching for a repeatable and scalable business model.</dd>'}
          #{'</dl>'}


