---
title: 'Typography'
description: 'Default styles for headings, paragraphs, blockquote, lists elements and other markups and formatting.'
layout: 'docs'
---


block docs-content
  div
    p The default font-size is defined as 1.6rem (16px) with line-height of 1.6 (24px). We define the following system font-stack for the body:
    pre
      code.
        #{'font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;'}
    h2 Headings
    p HTML headings <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> have the following default sizes. A margin top of <code>1.5em</code> is assigned to each of the heading tags. You can assign a custom margin using the margin utility classes.
    .code-example
      .code-output
        h1.mt Heading 1 <span class="text-muted text-small">2.25rem (36px)</span>
        h2.mt Heading 2 <span class="text-muted text-small">1.8rem (28.8px)</span>
        h3.mt Heading 3 <span class="text-muted text-small">1.5rem (24px)</span>
        h4.mt Heading 4 <span class="text-muted text-small">1.125rem (18px)</span>
        h5.mt Heading 5 <span class="text-muted text-small">1rem (16px)</span>
        h6.mt Heading 6 <span class="text-muted text-small">0.875rem (14px)</span>
      pre
        code.
          #{'<h1>Heading 1</h1>'}
          #{'<h2>Heading 2</h2>'}
          #{'<h3>Heading 3</h3>'}
          #{'<h4>Heading 4</h4>'}
          #{'<h5>Heading 5</h5>'}
          #{'<h6>Heading 6</h6>'}
    h3 Headings Classes
    p Additionally <code>.h1</code> through <code>.h6</code> classes are also available for adding heading style to non-heading elements. Since this only applies to the heading size, the resulting style does not have font-weight or top margin applied. You can use the utility classes to apply the same or use relevant markup such as <code>&lt;strong&gt;</code>.
    .code-example
      .code-output
        .h1.mt Heading 1
        p.h2 Heading 2
        p Applying <span class="h3">Heading 3</span>, <span class="h4">Heading 4</span>, <strong class="h5">Heading 5</strong> stlye inside paragraph.
      pre
        code.
          #{'<div class="h1 mt">Heading 1</div>'}
          #{'<p class="h2">Heading 2</p>'}
          #{'<p>'}
          #{' Applying '}
          #{' <span class="h3">Heading 3</span>,'}
          #{' <span class="h4">Heading 4</span>,'}
          #{' <strong class="h5">Heading 5</strong>,'}
          #{' stlye inside paragraph.'}
          #{'</p>'}
    h2 Blockquotes
    p Single line blockquote:
    .code-example
      .code-output
        blockquote
          p Stay hungry. Stay foolish.
      pre
        code.
          #{'<blockquote>'}
          #{' <p>Stay hungry. Stay foolish.</p>'}
          #{'</blockquote>'}
    p Multi line blockquote with a cite reference:
    .code-example
      .code-output
        blockquote
          p People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at
            | all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m
            | actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to
            | 1,000 things.
          cite Steve Jobs – Apple Worldwide Developers’ Conference, 1997
      pre
        code.
          #{'<blockquote>'}
          #{' <p>People think focus means saying yes to ...</p>'}
          #{' <cite>Steve Jobs – Apple Worldwide Developers’ Conference, 1997</cite>'}
          #{'</blockquote>'}


  | <h2>HTML Tags</h2>
  | <p>These supported tags come from the WordPress.com code <a title="Code" href="http://en.support.wordpress.com/code/">FAQ</a>.</p>
  | <p><strong>Address Tag</strong></p>
  | <address>1 Infinite Loop<br> Cupertino, CA 95014<br> United States
  | </address>
  | <p><strong>Anchor Tag (aka. Link)</strong></p>
  | <p>This is an example of a <a title="Apple" href="http://apple.com">link</a>.</p>
  | <p><strong>Abbreviation Tag</strong></p>
  | <p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for “seriously”.</p>
  | <p><strong>Acronym Tag</strong></p>
  | <p>The acronym <acronym title="For The Win">ftw</acronym> stands for “for the win”.</p>
  | <p><strong>Big Tag</strong></p>
  | <p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p>
  | <p><strong>Cite Tag</strong></p>
  | <p>“Code is poetry.” —<cite>Automattic</cite></p>
  | <p><strong>Code Tag</strong></p>
  | <p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p>
  | <p><strong>Delete Tag</strong></p>
  | <p>This tag will let you
  |     <del>strikeout text</del>, but this tag is no longer supported in HTML5 (use the <code>&lt;strike&gt;</code> instead).</p>
  | <p><strong>Emphasize Tag</strong></p>
  | <p>The emphasize tag should <em>italicize</em> text.</p>
  | <p><strong>Insert Tag</strong></p>
  | <p>This tag should denote
  |     <ins>inserted</ins> text.</p>
  | <p><strong>Keyboard Tag</strong></p>
  | <p>This scarsly known tag emulates <kbd>keyboard text</kbd>, which is usually styled like the <code>&lt;code&gt;</code>                tag.</p>
  | <p><strong>Preformatted Tag</strong></p>
  | <p>This tag styles large blocks of code.</p>
  | <pre><code>.post-title {
  |     margin: 0 0 5px;
  |     font-weight: bold;
  |     font-size: 38px;
  |     line-height: 1.2;
  | }</code></pre>
  | <p><strong>Quote Tag</strong></p>
  | <p><q>Developers, developers, developers…</q> –Steve Ballmer</p>
  | <p><strong>Strong Tag</strong></p>
  | <p>This tag shows <strong>bold<strong> text.</strong></strong>
  | </p>
  | <p><strong>Subscript Tag</strong></p>
  | <p>Getting our science styling on with H<sub>2</sub>O, which should push the “2” down.</p>
  | <p><strong>Superscript Tag</strong></p>
  | <p>Still sticking with science and Albert Einstein’s&nbsp;E = MC<sup>2</sup>, which should lift the “2” up.</p>
  | <p><strong>Teletype Tag</strong></p>
  | <p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the <code>&lt;code&gt;</code>                tag.</p>
  | <p><strong>Variable Tag</strong></p>
  | <p>This allows you to denote <var>variables</var>.</p>
