---
title: 'Text'
description: 'Text Colors utility classes in MM.css - Minimal Modern CSS Framework.'
layout: 'docs'
---

block docs-content
  h2 Text Colors
  p Use the <code>text-*</code> classes to apply different colors to the text.
  .code-example
    .code-output
      .grid.gutters-small.mt-4
        .col.col-3.col-sm-6
          .p.text-blue text-blue
        .col.col-3.col-sm-6
          .p.text-green text-green
        .col.col-3.col-sm-6
          .p.text-pink text-pink
        .col.col-3.col-sm-6
          .p.text-purple text-purple
        .col.col-3.col-sm-6
          .p.text-yellow text-yellow
        .col.col-3.col-sm-6
          .p.text-red text-red
        .col.col-3.col-sm-6
          .p.text-teal text-teal
        .col.col-3.col-sm-6
          .p.text-cyan text-cyan
        .col.col-3.col-sm-6
          .p.bg-dark.text-white text-white
        .col.col-3.col-sm-6
          .p.bg-dark.text-light text-light
        .col.col-3.col-sm-6
          .p.bg-dark.text-gray-light text-gray-light
        .col.col-3.col-sm-6
          .p.bg-dark.text-gray text-gray
        .col.col-3.col-sm-6
          .p.bg-light.text-gray-dark text-gray-dark
        .col.col-3.col-sm-6
          .p.bg-light.text-muted text-muted
        .col.col-3.col-sm-6
          .p.bg-light.text-dark text-dark
        .col.col-3.col-sm-6
          .p.bg-light.text-primary text-primary
    pre
      code.
        #{'<!-- TODO -->'}

  h2 Link Colors
  p Similarly, you can use the <code>text-*</code> classes to apply different colors to the links.
  .code-example
    .code-output
      .grid.gutters-small.mt-4
        .col.col-3.col-sm-6
          .p
              a(href="#").text-blue link-blue
        .col.col-3.col-sm-6
          .p
              a(href="#").text-green link-green
        .col.col-3.col-sm-6
          .p
              a(href="#").text-pink link-pink
        .col.col-3.col-sm-6
          .p
              a(href="#").text-purple link-purple
        .col.col-3.col-sm-6
          .p
              a(href="#").text-yellow link-yellow
        .col.col-3.col-sm-6
          .p
              a(href="#").text-red link-red
        .col.col-3.col-sm-6
          .p
              a(href="#").text-teal link-teal
        .col.col-3.col-sm-6
          .p
              a(href="#").text-cyan link-cyan
        .col.col-3.col-sm-6
          .p.bg-dark
              a(href="#").text-white link-white
        .col.col-3.col-sm-6
          .p.bg-dark
              a(href="#").text-light link-light
        .col.col-3.col-sm-6
          .p.bg-dark
              a(href="#").text-gray-light link-gray-light
        .col.col-3.col-sm-6
          .p.bg-dark
              a(href="#").text-gray link-gray
        .col.col-3.col-sm-6
          .p.bg-light
              a(href="#").text-gray-dark link-gray-dark
        .col.col-3.col-sm-6
          .p.bg-light
              a(href="#").text-muted link-muted
        .col.col-3.col-sm-6
          .p.bg-light
              a(href="#").text-dark link-dark
        .col.col-3.col-sm-6
          .p.bg-light
              a(href="#").text-primary link-primary
    pre
      code.
        #{'<!-- TODO -->'}


  h2 Text Sizes
  p Use <code>text-small</code> and <code>text-large</code> to change text size.
  .code-example
    .code-output
      p.text-small text-small
      p.text-large text-large
    pre
      code.
        #{'<!-- TODO -->'}

  h2 Font Weight
  p Use the <code>font-thin</code>, <code>font-normal</code>, <code>font-medium</code> and <code>font-bold</code> to change font weight. This can be applied to both paragraph text or headings.
  .code-example
    .code-output
      h2.font-thin.mt font-thin
      h2.font-normal.mt font-normal
      h2.font-medium.mt font-medium
      h2.font-bold.mt font-bold
    pre
      code.
        #{'<!-- TODO -->'}


  h2 Text Alignment
  p Use <code>text-center</code>, <code>text-right</code> and <code>text-justify</code> to align text.
  .code-example
    .code-output
      p Default
      p.text-center text-center
      p.text-right text-right
      .container(style="max-width: 500px;").bg-light.py.mt
        .text-justify This is a justified text in it's parent container. You can justify text using the text-justifty class.
    pre
      code.
        #{'<!-- TODO -->'}