doctype html
block vars
- var url_base = 'https://mmcss.kunruchcreations.com/'
- var github_base = 'https://github.com/kunruch/mmcss/'
- var twitter_url = 'https://twitter.com/kanishkkunal'
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - MMCSS
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:type', content='website')
    meta(property='og:url', content=site.url + path)
    meta(property='og:image', content=site.url + 'img/mmcss-featured.png')
    link(rel='canonical', href=site.url + path)
    link(href='/styles/mm.css', rel='stylesheet')
    style
      include ./partials/_icons.css
    block styles
    link(rel='icon', href=site.url + 'img/mmcss-favicon-32x32.png', sizes='32x32')
    link(rel='icon', href=site.url + 'img/mmcss-favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href=site.url + 'img/mmcss-favicon-180x180.png')
    meta(name='msapplication-TileImage', content=site.url + 'img/mmcss-favicon-270x270.png')
  body#top
    include partials/_icons.svg
    header.header
        .container
            .header-left
              a(href='/').site-branding
                h1.title MMCSS
            nav(role="navigation")
              ul.menu
                li.menu-item
                  a(href="/docs/") Docs
                li.menu-item
                  a(href="/guides/") Guides
                li.menu-item
                  a(href="/examples/") Examples
                li.menu-item
                  a(href="/showcase/") Showcase
                li.menu-item
                  a(href="#") Help
                  ul.sub-menu
                    li.menu-item
                      a(href=site.github + "issues/new", target="_blank") Report an Issue
                    li.menu-item
                      a(href=site.github + "issues", target="_blank") View all Issues
                    li.menu-item
                      a(href='#') See All Releases
                      ul.sub-menu
                        li.menu-item
                          a(href=site.github + "releases/latest", target="_blank") Latest Release
                        li.menu-item
                          a(href=site.github + "releases", target="_blank") Release History
                    li.menu-item
                      a(href=site.github + "blob/master/LICENSE.md", target="_blank") License Info
                    li.menu-item
                      a(href="/about/") About
            div.header-right
              a.button.button-text(href=site.github, target="_blank")
               | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
               span GitHub
              a.button.button-text(href=site.twitter target="_blank")
               | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
               span Twitter

    block content
    footer.footer
      .container-content.section-large.text-center
        p Made for the modern web by <a href="http://kunruchcreations.com/">KunRuch Creations</a>.
          br
          | Licensed under the <a href="#{github_base}blob/master/LICENSE.md" target="blank">MIT License</a>.
        div
            a.button.button-text(href=site.github, target="_blank")
              | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
              span GitHub
            a.button.button-text(href=site.twitter, target="_blank")
              | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
              span Twitter
  block scripts
