doctype html
block vars
- var url_base = 'https://mmcss.kkthemes.com/'
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - MMCSS
    meta(name='description', content='#{description}')
    meta(property='og:title', content='#{title}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{url_base}#{path}')
    meta(property='og:image', content='#{url_base}img/mmcss.png')
    link(rel='canonical', href='#{url_base}#{path}')
    +style('mm')
    block styles
    link(rel='icon', href='#{url_base}img/mmcss-favicon-32x32.png', sizes='32x32')
    link(rel='icon', href='#{url_base}img/mmcss-favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='#{url_base}img/mmcss-favicon-180x180.png')
    meta(name='msapplication-TileImage', content='#{url_base}img/mmcss-favicon-270x270.png')
    +analytics
  body#top
    header#header.site-header
        .container-content.section-block.clearfix
            .site-branding
              h1.site-title
                  a(href='/') MMCSS
            nav(role="navigation").main-navigation
              ul.menu
                li.menu-item
                  a(href="#") Learn
                li.menu-item
                  a(href="#") Examples
                li.menu-item
                  a(href="#") Showcase                
                li.menu-item
                  a(href="#") Blog
    block content
  block scripts
