doctype html
block vars
- var url_base = 'https://mmcss.kunruchcreations.com/'
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - MMCSS
    meta(name='description', content='#{description}')
    meta(property='og:title', content='#{title}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{url_base}#{path}')
    meta(property='og:image', content='#{url_base}img/mmcss.png')
    link(rel='canonical', href='#{url_base}#{path}')
    link(href='/mm.css', rel='stylesheet')
    block styles
    link(rel='icon', href='#{url_base}img/mmcss-favicon-32x32.png', sizes='32x32')
    link(rel='icon', href='#{url_base}img/mmcss-favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='#{url_base}img/mmcss-favicon-180x180.png')
    meta(name='msapplication-TileImage', content='#{url_base}img/mmcss-favicon-270x270.png')
  body#top
    header.header
        .container
            .header-left
              a(href='/').site-branding
                h1.title MMCSS
            nav(role="navigation")
              ul.menu
                li.menu-item
                  a(href="#") Learn
                li.menu-item
                  a(href="#") Docs
                li.menu-item
                  a(href="#") Examples
                li.menu-item
                  a(href="#") Showcase                
                li.menu-item.current-menu-item
                  a(href="#") About
                  ul.sub-menu
                    li.menu-item
                      a(href='#') Child Menu
                    li.menu-item
                      a(href='#') Child Menu
                    li.menu-item
                      a(href='#') Child Menu
                    li.menu-item
                      a(href='#') Child Menu
                      ul.sub-menu
                        li.menu-item
                          a(href='#') Child Menu
                    li.menu-item
                      a(href='#') Child Menu

            div.header-right
              form.search-form.search-expandable(role='search', method='get', action='http://thememm.local/')
                label
                  span.screen-reader-text Search for:
                  .search-box
                    span.css-icon-search
                    input.search-field(type='search', placeholder='Search …', value='', name='s', title='Search for:')
                input.search-submit(type='submit', value='Search')

    block content
    footer.footer
      .container-content.section.text-center
        nav
            ul.menu
              li.menu-item
                a(href="#") Github
              li.menu-item
                a(href="#") Twitter
              li.menu-item
                a(href="#") Contact                
              li.menu-item
                a(href="#") About
        span Made for the modern web by <a href="http://kunruchcreations.com/">KunRuch Creations</a>.  Licensed under the <a href="https://github.com/kunruch/mmcss/blob/master/LICENSE" target="blank">MIT License</a>.  
  block scripts
