doctype html
block vars
- var url_base = 'https://mmcss.kunruchcreations.com/'
- var github_base = 'https://github.com/kunruch/mmcss/'
- var twitter_url = 'https://twitter.com/kanishkkunal'
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - MMCSS
    meta(name='description', content='#{description}')
    meta(property='og:title', content='#{title}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{url_base}#{path}')
    meta(property='og:image', content='#{url_base}img/mmcss.png')
    link(rel='canonical', href='#{url_base}#{path}')
    link(href='/mm.css', rel='stylesheet')
    style
      include ./partials/_icons.css
    block styles
    link(rel='icon', href='#{url_base}img/mmcss-favicon-32x32.png', sizes='32x32')
    link(rel='icon', href='#{url_base}img/mmcss-favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='#{url_base}img/mmcss-favicon-180x180.png')
    meta(name='msapplication-TileImage', content='#{url_base}img/mmcss-favicon-270x270.png')
  body#top
    include partials/_icons.svg
    header.header
        .container
            .header-left
              a(href='/').site-branding
                h1.title MMCSS
            nav(role="navigation")
              ul.menu
                li.menu-item
                  a(href="#quickstart") Quickstart
                li.menu-item
                  a(href="/docs/") Docs
                li.menu-item
                  a(href="/examples/") Examples
                li.menu-item
                  a(href="/showcase/") Showcase                
                li.menu-item
                  a(href="#") Help
                  ul.sub-menu
                    li.menu-item
                      a(href="#{github_base}issues/new", target="_blank") Report an Issue
                    li.menu-item
                      a(href="#{github_base}issues", target="_blank") View all Issues
                    li.menu-item
                      a(href="#{twitter_url}", target="_blank") Connect on Twitter
                    li.menu-item
                      a(href='#') See all Releases
                      ul.sub-menu
                        li.menu-item
                          a(href="#{github_base}releases/latest", target="_blank") Latest Release
                        li.menu-item
                          a(href="#{github_base}releases", target="_blank") Release History
                    li.menu-item
                      a(href="#{github_base}blob/master/LICENSE.md", target="_blank") License Info

            div.header-right
              a.button.button-text(href="#{github_base}", target="_blank")
               | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
               span GitHub
              a.button.button-text(href="#{twitter_url}", target="_blank")
               | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
               span Twitter

    block content
    footer.footer-light
      .container-content.section.text-center
        nav
            ul.menu
              li.menu-item
                a(href="#{github_base}", target="_blank") Github
              li.menu-item
                a(href="#{twitter_url}", target="_blank") Twitter
              li.menu-item
                a(href="/about/") About
        span Made for the modern web by <a href="http://kunruchcreations.com/">KunRuch Creations</a>.  Licensed under the <a href="#{github_base}blob/master/LICENSE.md" target="blank">MIT License</a>.  
  block scripts
